chromadb==0.4.14
fastapi==0.104.0
langchain==0.0.320
langserve==0.0.15
python-dotenv==1.0.0
Requests==2.31.0
uvicorn==0.23.2
openai==0.28.1
sse-starlette==1.6.5
rdflib==7.0.0
selenium==4.14.0
unstructured==0.10.25
tiktoken==0.5.1